dhcp server
{% for subnet in dhcp_pools %}
    subnet {{ subnet.network }}
        {% if subnet.reservations is defined %}
        reservations
            {% for dev in subnet.reservations %}
            mac-address {{ dev.mac }}
                ipv4-address {{ dev.addr }}
            !
            {% endfor %}
        {% endif %}
        default-gateway {{ subnet.router[0] }}
        dns server {{ subnet.dns | join(' ') }}
        {% if subnet.range is defined %}
        range {{ subnet.range.low }} {{ subnet.range.high }}
        {% endif %}
        lease time 0 days 4 hours 0 minutes
        {% if subnet.extra_lines is defined %}
        {% for line in subnet.extra_lines %}
        {{ line }}
        {% endfor %}
        {% endif %}
{% endfor %}
