dhcp server
   subnet 172.16.0.0/16
      reservations
         mac-address dca6.32f0.d4b3
            ipv4-address 172.16.1.11
         !
         mac-address dca6.3207.8770
            ipv4-address 172.16.1.12
         !
         mac-address dca6.32e7.3a27
            ipv4-address 172.16.1.13
         !
         mac-address dca6.32ef.1d4d
            ipv4-address 172.16.1.14
         !
         mac-address e45f.0150.41ab
            ipv4-address 172.16.1.15
         !
         mac-address e45f.0144.f684
            ipv4-address 172.16.1.16
         !
         mac-address 3005.5c33.5f7e
            ipv4-address 172.16.1.254
         !
         mac-address 6c4b.9052.269e
            ipv4-address 172.16.2.11
         !
         mac-address e41d.2db6.5dd0
            ipv4-address 172.16.10.11
         !
         mac-address 2811.a82d.32be
            ipv4-address 172.16.10.12
         !
         mac-address 3c15.c2dc.eed8
            ipv4-address 172.16.10.14
         !
         mac-address 5254.0051.43de
            ipv4-address 172.16.10.15
         !
         mac-address 0017.884d.f49c
            ipv4-address 172.16.66.11
         !
         mac-address 5cf9.ddf8.6f08
            ipv4-address 172.16.99.11
         !
         mac-address b4b5.2fec.da5c
            ipv4-address 172.16.99.21
         !
         mac-address fc15.b48f.c06a
            ipv4-address 172.16.99.22
         !
         mac-address b4b5.2fef.8730
            ipv4-address 172.16.99.23
         !
         mac-address f452.1425.0a70
            ipv4-address 172.16.110.11
         !
         mac-address e41d.2dbe.ef90
            ipv4-address 172.16.141.13
         !
         mac-address e41d.2dbf.0580
            ipv4-address 172.16.141.11
         !
         mac-address e41d.2dbf.0b70
            ipv4-address 172.16.141.12
         !
         mac-address 1082.8623.a9e1
            ipv4-address 172.16.247.14
         !
         mac-address 14eb.b62a.9bbf
            ipv4-address 172.16.251.7
         !
         mac-address b0a7.b940.a5f8
            ipv4-address 172.16.251.101
         !
         mac-address b0a7.b940.b86c
            ipv4-address 172.16.251.102
      default-gateway 172.16.0.3
      dns server 172.16.1.13 172.16.1.11
      range 172.16.255.10 172.16.255.200
      lease time 0 days 4 hours 0 minutes
      tftp server option 66 172.16.100.11
      tftp server option 150 172.16.100.11
      tftp server file http://172.16.100.11/ipxe/fcos.ipxe
