aaa new-model
!
!
radius server SPARTAN
  address ipv4 172.16.100.11 auth-port 1812 acct-port 1813
  key 0 cisco3750
!
aaa group server radius HKNLAB
  server name SPARTAN
!
aaa authentication login default group HKNLAB local
aaa authentication enable default group HKNLAB enable
aaa authentication ppp default group HKNLAB local
!
aaa authorization exec default group HKNLAB local
aaa authorization network default group HKNLAB local
!
aaa accounting network default start-stop group HKNLAB local
!
aaa session-id common
!