set groups global system radius-server {{ radius_server.0.ipaddr }}
set groups global system radius-server {{ radius_server.0.ipaddr }} source-address {{ inventory_hostname }}
set groups global system radius-server {{ radius_server.0.ipaddr }} secret {{ host_radius_key | default(device_radius_key) }}
set groups global system radius-server {{ radius_server.0.ipaddr }} port {{ radius_server.0.auth_port }}
set groups global system radius-server {{ radius_server.0.ipaddr }} retry 2
set groups global system radius-server {{ radius_server.0.ipaddr }} timeout 10

set groups global system authentication-order [ radius tacplus password ]

set groups global system login user remote class super-user
set groups global system login user RO class read-only
set groups global system login user OP class operator
set groups global system login user SU class super-user
set groups global system login user remote full-name "default remote access user template"
set groups global system login user remote class read-only

